services:
  db:
    # We use a mariadb image which supports both amd64 & arm64 architecture
    image: mariadb:10.6.4-focal
    # If you really want to use MySQL, uncomment the following line
    #image: mysql:8.0.27
    command: '--default-authentication-plugin=mysql_native_password'
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=Arunsri@123
      - MYSQL_DATABASE=wordpress_db
      - MYSQL_USER=docker
      - MYSQL_PASSWORD=docker@123
    expose:
      - 3306
      - 33060
  wordpress:
    image: wordpress:latest
    ports:
      - 80:80
    restart: always
    environment:
      - WORDPRESS_DB_HOST=127.0.1.1:3306
      - WORDPRESS_DB_USER=docker
      - WORDPRESS_DB_PASSWORD=docker@123
      - WORDPRESS_DB_NAME=wordpress_db
volumes:
  db_data:

  
    
