.App {
  text-align: center;
}
.jobapp-app {
  background-color: #efefef;
  padding: 1.2em;
  .new-jobapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
      width: 100% !important;
    }
  }
}

//.list-group-item{
//  &.active:hover{
//
//  }
//  &active:hover{
//    background-color: #d3d3d3;
//  }
//}