// Override default variables before the import
$body-bg: #fff;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.cursor-pointer {
  cursor: pointer;
}

.notActive {
  display:none;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}