{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-object-rest-spread",
    "lodash"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
