@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>

@using Portfolio.Core.Models.ViewModels
@using Portfolio.Core.Controllers.Surface
@using Portfolio.Core.Extensions
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    Layout = "Master.cshtml";
    var thisPage = (IPublishedContent)Model;

    var submitted = false;
    if (bool.TryParse(TempData["Success"]?.ToString() ?? "", out var success))
    {
        submitted = true;
    }
}

<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h1 class="text-uppercase font-weight-bold">@(thisPage.GetPageTitle())</h1>
            </div>

            @if (submitted)
            {
                <div class="row">
                    <div class="col-12 text-center">
                        @if (success)
                        {
                            <p>@Model.ThankYouMessage</p>
                        }
                        else
                        {
                            <p>@Model.ErrorMessage</p>
                        }
                    </div>
                </div>
            }
            else
            {
                @using (Html.BeginUmbracoForm<ContactSurfaceController>("SubmitForm"))
                {
                    <div class="form-group"><label for="Name">Name</label><input class="form-control item" type="text" id="Name" name="Name"></div>
                    <div class="form-group"><label for="Subject">Subject</label><input class="form-control item" type="text" id="Subject" name="Subject"></div>
                    <div class="form-group"><label for="Email">Email</label><input class="form-control item" type="email" id="Email" name="Email"></div>
                    <div class="form-group"><label for="Message">Message</label><textarea class="form-control item" id="Message" name="Message"></textarea></div>
                    <div class="form-group"><button class="btn btn-primary btn-block btn-lg" type="submit">Submit Form</button></div>
                }
            }
        </div>
    </section>
</main>