@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    Layout = "Master.cshtml";
}

<main class="page lanidng-page">
    @await Html.PartialAsync("avatarHeader", Model)
    @await Html.PartialAsync("latestProjects", Model.Children<ContentModels.ProjectList>().FirstOrDefault())
    @Html.GetBlockListHtml(Model.MainContent)
</main>