{
  "extends": [
    "standard",
    "standard-react",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "es6"     : true,
    "browser" : true,
    "node"    : true,
    "jest"    : true
  },
  "plugins": [
    "react",
    "import"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules" : {
    "no-eq-null" : 0,
    "quotes": 0,
    "eol-last": 0,
    "semi": [2, "always"],
    "key-spacing": [1, {"beforeColon": true, "afterColon": true, "mode": "minimum", "align": "colon"}],
    "padded-blocks": [1, { "switches": "never", "classes" : "always"}],
    "space-before-function-paren": ["error", "never"],
    "indent": [1, 4]
  },
  "globals" : {
    "__DEV__"        : false,
    "__filename"     : false,
    "__dirname"      : false
  }
}
