@inherits UmbracoViewPage<ContentModels.CV>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels


<div class="hobbies group">
    <div class="heading">
        <h2 class="text-center">@Model.HobbiesTitle</h2>
    </div>
    <div class="text-center w-100">
        <p class="text-muted">@Model.Hobbies</p>
    </div>
</div>