@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Portfolio.Core.Extensions

<meta charset="utf-8">
<meta content="IE=edge,chrome=1' http-equiv='X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="@Model.GetMetaDescription()">
<title>@Model.GetMetaTitle()</title>
<link rel="canonical" href="@Model.GetCanonicalUrl()">